In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,60.96,100,20,3.44,few clouds
1,1,Tuatapere,NZ,-46.1333,167.6833,38.82,85,94,5.48,overcast clouds
2,2,Cape Town,ZA,-33.9258,18.4232,64.11,73,75,14.97,broken clouds
3,3,New Norfolk,AU,-42.7826,147.0587,49.71,94,20,2.75,few clouds
4,4,Kapaa,US,22.0752,-159.3190,75.52,84,75,1.01,moderate rain

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(25)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Georgetown,MY,5.4112,100.3354,84.88,78,20,1.01,light rain
23,23,Praia,CV,14.9215,-23.5087,88.34,55,20,12.66,few clouds
32,32,Tual,ID,-5.6667,132.7500,80.87,85,100,15.37,overcast clouds
33,33,Sao Filipe,CV,14.8961,-24.4956,81.16,76,40,7.56,scattered clouds
37,37,Kavieng,PG,-2.5744,150.7967,82.62,74,42,8.01,scattered clouds
42,42,Kavaratti,IN,10.5669,72.6420,81.97,78,100,19.55,overcast clouds
64,64,Cabo San Lucas,MX,22.8909,-109.9124,80.51,73,1,11.50,clear sky
76,76,Victoria,HK,22.2855,114.1577,86.22,83,0,3.00,light rain
85,85,Namatanai,PG,-3.6667,152.4333,80.26,80,98,4.52,overcast clouds
90,90,Padang,ID,-0.9492,100.3543,82.45,88,100,4.54,overcast clouds
91,91,Kabalo,CD,-6.0500,26.9167,88.65,40,78,3.58,broken clouds
92,92,Butaritari,KI,3.0707,172.7902,83.08,77,65,20.47,light rain
102,102,Puerto Colombia,CO,10.9878,-74.9547,82.49,78,16,8.79,few clouds
110,110,Cabedelo,BR,-6.9811,-34.8339,81.27,74,49,20.33,scattered clouds
115,115,Luanda,AO,-8.8368,13.2343,82.40,57,20,9.22,few clouds
120,120,Bhikangaon,IN,21.8667,75.9500,80.98,84,100,5.17,overcast clouds
126,126,Bebedouro,BR,-20.9494,-48.4792,81.82,41,96,7.14,overcast clouds
128,128,Mazagao,BR,-0.1150,-51.2894,87.85,54,4,6.89,clear sky
132,132,Kampong Thum,KH,12.7111,104.8887,80.29,82,21,0.92,few clouds
133,133,Yulara,AU,-25.2406,130.9889,80.44,13,82,6.91,broken clouds
146,146,Sabang,ID,5.8933,95.3214,82.58,72,100,13.27,overcast clouds
158,158,Birao,CF,10.2849,22.7882,87.82,54,88,4.61,overcast clouds
167,167,Basoko,CD,1.2391,23.6160,89.56,44,21,1.86,few clouds
173,173,Caravelas,BR,-17.7125,-39.2481,80.71,62,92,8.30,overcast clouds
175,175,Ladario,BR,-19.0047,-57.6017,80.69,61,1,4.61,smoke

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                139
City                   139
Country                139
Lat                    139
Lng                    139
Max Temp               139
Humidity               139
Cloudiness             139
Wind Speed             139
Current Description    139
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

139

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Georgetown,MY,5.4112,100.3354,84.88,78,20,1.01,light rain
23,23,Praia,CV,14.9215,-23.5087,88.34,55,20,12.66,few clouds
32,32,Tual,ID,-5.6667,132.7500,80.87,85,100,15.37,overcast clouds
33,33,Sao Filipe,CV,14.8961,-24.4956,81.16,76,40,7.56,scattered clouds
37,37,Kavieng,PG,-2.5744,150.7967,82.62,74,42,8.01,scattered clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Georgetown,MY,84.88,light rain,5.4112,100.3354,
23,Praia,CV,88.34,few clouds,14.9215,-23.5087,
32,Tual,ID,80.87,overcast clouds,-5.6667,132.7500,
33,Sao Filipe,CV,81.16,scattered clouds,14.8961,-24.4956,
37,Kavieng,PG,82.62,scattered clouds,-2.5744,150.7967,
42,Kavaratti,IN,81.97,overcast clouds,10.5669,72.6420,
64,Cabo San Lucas,MX,80.51,clear sky,22.8909,-109.9124,
76,Victoria,HK,86.22,light rain,22.2855,114.1577,
85,Namatanai,PG,80.26,overcast clouds,-3.6667,152.4333,
90,Padang,ID,82.45,overcast clouds,-0.9492,100.3543,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping city")
        
hotel_df.head(10)

Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city
Hotel not found...skipping city

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Georgetown,MY,84.88,light rain,5.4112,100.3354,Cititel Penang
23,Praia,CV,88.34,few clouds,14.9215,-23.5087,LT Aparthotel
32,Tual,ID,80.87,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
33,Sao Filipe,CV,81.16,scattered clouds,14.8961,-24.4956,Hotel Xaguate
37,Kavieng,PG,82.62,scattered clouds,-2.5744,150.7967,Nusa Island Retreat
42,Kavaratti,IN,81.97,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
64,Cabo San Lucas,MX,80.51,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
76,Victoria,HK,86.22,light rain,22.2855,114.1577,Mini Hotel Central
85,Namatanai,PG,80.26,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
90,Padang,ID,82.45,overcast clouds,-0.9492,100.3543,Mercure Padang

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Georgetown,MY,84.88,light rain,5.4112,100.3354,Cititel Penang
23,Praia,CV,88.34,few clouds,14.9215,-23.5087,LT Aparthotel
32,Tual,ID,80.87,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
33,Sao Filipe,CV,81.16,scattered clouds,14.8961,-24.4956,Hotel Xaguate
37,Kavieng,PG,82.62,scattered clouds,-2.5744,150.7967,Nusa Island Retreat
42,Kavaratti,IN,81.97,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
64,Cabo San Lucas,MX,80.51,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
76,Victoria,HK,86.22,light rain,22.2855,114.1577,Mini Hotel Central
85,Namatanai,PG,80.26,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
90,Padang,ID,82.45,overcast clouds,-0.9492,100.3543,Mercure Padang

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))